# Ignore the virtual environment (Reduces file size significantly)
venv/

# Ignore Python cache files (Unnecessary junk)
__pycache__/
*.pyc

# Ignore VS Code settings (Personal preference files)
.vscode/

# SECRET FILES (Prevents Supabase keys from leaking)
.env
secrets.toml

# Ignore local database files (If you don't want to upload your data)
*.db
# Streamlit Local Secrets
.streamlit/secrets.toml